body {
    font-family: "Press Start 2P", serif;
    margin: 0;
}

button, .put{
    font-family: "Press Start 2P", serif;
    width: 300px;
}

.clicker, .casino {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 350px;
    margin-top: 70px;
    justify-items: center;
}

.main {
    position: relative;
}

.clicker button , .put{
    background-color: cornflowerblue;
}

.click:active {
    zoom: 0.95;
}

h1{
    margin-bottom: 100px;
}

.click {
    width: 200px;
    padding: 10px;
}

.main {
    justify-items: center;
    margin-bottom: 70px;
    height: 150px;
    width: 200px;
    border: 1px black solid;
    padding: 50px;
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal {
    width: 300px;
    padding: 50px;
    margin: auto;
    background-color:cornflowerblue;
    position: relative;
    margin-top: 150px;
    box-shadow: 8px 10px black;
}

.modal h1 {
    text-align: center;
}

.modal img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.hidden {
    visibility: hidden;
}

.close-modal:hover {
    zoom: 0.95;
}

.close-modal:active {
    zoom: 0.92;
}

.modal-bg {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.roulet {
    width: 50px;
    height: 40px;
    background-color: black;
}

input[type = "radio"] {
    border-radius: 0%;
    appearance: none;
    width: 20px;
    height: 20px;
}

input[type = "radio"]:checked {
    border: 3px blue solid;
}

#red {
    background-color: red;
}

#black {
    background-color: black;
}

.red {
    background-color: red;
}

.points-change {
    transition: opacity 1s;
}

.hide {
    opacity: 0;
}

.casino {
    background-color: white;
    transition: background-color 1s;
}

.active {
    background-color: blue;
}