<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="casino.css">
    <title>Document</title>
</head>
<body>
    <main>
        <p class="points">1000</p>
        <div class="roulet"></div>
            <form>
                <input type="number" name="" id="" required>
                <br>
                <input type="radio" name="color" value="rgb(255, 0, 0)" id="red" required>
                <input type="radio" name="color" value="rgb(0, 0, 0)" id="black" required>
                <br>
                <input type="submit" value="Поставить" class="put">
            </form>
    </main>
</body>
</html>